body {
    font-family: 'Signika', sans-serif;;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
  text-decoration: none;
}

.bg-container {
    background-color: rgb(228, 231, 228);
  }
  
.titulos {
font-family: "Raleway", sans-serif;
}

.jumbo-color {
    background: rgb(247, 66, 69);
    background: linear-gradient(270deg, rgba(247, 66, 69, 0.514) 0%, rgba(178, 63, 94, 0.507) 20%, rgba(25, 55, 152, 0.452) 100%);
    padding: 4rem 3rem;
  }

.card-hotel {
    width: 14rem;
    border-color: blueviolet;
    min-height: 300px;
    
}

.text-justify {
    text-align: justify;
}

.footer {
  margin-top: auto;
  background: rgb(247, 66, 69);
    background: linear-gradient(270deg, rgba(247, 66, 69, 0.514) 0%, rgba(178, 63, 94, 0.507) 20%, rgba(25, 55, 152, 0.452) 100%);
  
}

.social-icon {
  font-size: 2rem;
  color: aliceblue;
  margin: 14px;
}

.bg-navbar {
  background-color: rgb(6, 38, 75);
}

